.shops {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  padding-top: 2.5rem;
  padding-bottom: 4.5rem;
  padding-left: 40%;
  
  font-size: 1.2rem;
  line-height: 1;
  
  background-color: @shops-bg;
  
  background-image: url("../img/bg-map.png");
  background-size: auto 100%;
  background-position: -20% center;
  background-repeat: no-repeat;
  
  @media (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-map@2x.png");
  }
  
  @media (min-width: @screen-sm) {
    background-position: 25% center;
  }
  
  
  @media (min-width: @screen-md) {
    font-size: 2.4rem;
    padding-top: 6.5rem;
    padding-bottom: 8.5rem;
    padding-left: 45%;
    
    background-position: 25% center;
  }
  
  @media (min-width: @screen-lg) {
    padding-top: 7rem;
    padding-bottom: 9rem;
    
    background-position: 30% center;
  }
  
  .p {
    
    font-size: 1em;
    color: @color-text-light;
    
    @media (min-width: @screen-md) {
      color: @color-text-lime;
    }
  }
  
  &__count {
    
    margin-bottom: 1rem;
    
    font-family: "DIN Alternate";
    font-size: 5em;
    font-weight: bold;
    line-height: 1;
    
    color: @color-text-light;
  }
}